*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
   
}

/* Estilos para el cuerpo y la imagen del logo */
body {
    /* background-image: url('/src/images/fondodesktop.jpg'); */
    /* Ruta de la imagen de fondo predeterminada para computadoras */
    background-color: rgb(28, 28, 28);
    /* -webkit-overflow-scrolling: touch;overflow-y: scroll; */
  }
  
  .logo-img {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .logo-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  
  .btn {
    width: 150px;
    height: 150px;
  }

.row{
  margin-left:0 !important;
  margin-right:0 !important;

}
  .container-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    pointer-events: none !important
  }
  
  .canvas {
    /* pointer-events: all; */
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none !important;
  }

  .view{
    width:100%;
    aspect-ratio: 1;
    /* cursor: pointer; */
    pointer-events: all !important;
 
  }
  
  
  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    body {
     /*  background-image: url('/src/images/fondomobile.jpg'); */
     background-color: rgb(28, 28, 28);


      /* Ruta de la imagen de fondo para dispositivos móviles */
    }
  
    .logo-img {
      width: 150px;
      /* Tamaño de la imagen para dispositivos móviles */
      height: auto;
      display: flex;
      justify-content: center;
    }
  
    .btn {
      width: 100px;
      height: 100px;
    }
  }

 