.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 1;
  font-size: 11px;
}
.footer .btn {
  font-size: 14px;
  font-family: 'Bebas Neue', sans-serif;
  padding: 8px 16px;
  background-color: transparent; /* Hace el botón transparente */
  color: #fff;
  height: 30px; /* Ajusta el alto del botón */
  width: 120px; /* Ajusta el ancho del botón */
  border: none; /* Elimina el borde del botón */
  outline: none; /* Elimina el contorno al ser seleccionado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.card  {
  border: 4px solid white; /* Bordes más gruesos */ 
  margin-left: 20px;
  margin-right: 20px;
}


.card-transparent {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.card-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  color: white; /* Color de texto para el título */
}

.card-price {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: white; /* Color de texto para el precio */
  border: 3px solid #191919;
  background-color: #191919;
  border-radius: 4px;
}

.card-description {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: white; /* Color de texto para el precio */
}


